<div class='container'>
<br>
<br>
<br>
  <li><a routerLink='/search' routerLinkActive='active'>Click to Search</a></li>




<div class="text">{{display$.login}}</div><br>

<img  src="{{display$.avatar_url}}" class="img-circle" alt="{{display$.login}}"><br>
  <div class="text">
    Github ID:{{display$.id}}<br>
    Contact me @<a href="mailto:{{display$.email}}">{{display$.email}}</a><br>
    followed by {{display$.followers}}<br>
    following {{display$.following}}<br>
    I am based at {{display$.location}}<br>
  </div>
<div id="rep">
  <div id="repin">
  <h1>REPOSITORIES</h1>
<div *ngFor='let repo of repo$ , let i = index'>
      <h2>{{repo$[i].name}}</h2><br>
  <a href='https://github.com/DK-denno/{{repo$[i].name}}'>LIVE SITE</a>
<br>
<br>
</div>
</div>
</div>
</div>
