h1{
  text-align: center;
}
button:hover{
  background-color:navy;

}
button{
  width: 150px;

}
a{
  text-decoration: none;
}
.card{
  width: 550px;
  padding-left: 200px;

}
#card{
  padding-left: 350px;
}
