h1{
  text-align: center;
}
button:hover{
  background-color:navy;

}
.col-md-6 #text{
  margin-top: 400px;
}
button{
  width: 150px;

}
h2 header{
  font-family: 'Press Start 2P', cursive;

}

#repo{
  background-color: black;
  padding:30px;
}
a{
  text-decoration: none;
}
.card{
  width: 550px;
  padding-left: 200px;
  margin-right: 100px;

}
#card{
  padding-left: 200px;
  margin-right: 300px;
}
.container{
  background-image:url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&h=350');
  background-repeat: no-repeat;
  background-size:contain;

}
img{
  border-radius: 50%;
}
