
<div class="container">
  <form id="searchbar">
  <input type="text" #keyword name="keyword" placeholder="search">
  <input type="button" (click)="search(keyword)" value="search">
</form>
<div class="container">
  <div class="result">

  <div class="loop">
    <div class="forloop" *ngFor=' let return of  return$, let i = index'>
      <div class='row'>
        <div class="col-md-5">
          <div class="card">
            <img src="{{return$[i].avatar_url}}" width="200" height="200" alt="">
          </div>
        </div>
        <div class="col-md-6">

          Name:{{return$[i].login}}<br>
          GITHUB LINK:<a href='https://github.com/{{return$[i].login}}'>{{return$[i].login}}</a><br>
        </div>

  </div>
  <br>
  <br>
  <br>

    </div>
</div>
